catalog_service/dist
catalog_service/node_modules
ecomm.code-workspace
catalog_service/coverage/clover.xml
catalog_service/coverage/coverage-final.json
catalog_service/coverage/lcov.info
catalog_service/coverage/lcov-report
db/db-data
