catalog_service/dist
catalog_service/node_modules
ecomm.code-workspace
catalog_service/coverage/clover.xml
catalog_service/coverage/coverage-final.json
catalog_service/coverage/lcov.info
catalog_service/coverage/lcov-report/base.css
catalog_service/coverage/lcov-report/block-navigation.js
catalog_service/coverage/lcov-report/favicon.png
catalog_service/coverage/lcov-report/index.html
catalog_service/coverage/lcov-report/prettify.css
catalog_service/coverage/lcov-report/prettify.js
catalog_service/coverage/lcov-report/sort-arrow-sprite.png
catalog_service/coverage/lcov-report/sorter.js
catalog_service/coverage/lcov-report/repository/catalogRepository.ts.html
catalog_service/coverage/lcov-report/repository/index.html
catalog_service/coverage/lcov-report/services/catalog_service.ts.html
catalog_service/coverage/lcov-report/services/index.html
